<footer class="page-footer font-small bg-black pt-1">
    <hr>
    <div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center my-2">
                <div id="footerEquipe">
                    <ul class="text-light f-list p-0 m-4">
                        <li class="font-weight-bolder">Equipe</li>
                        <li>
                            <a class="f-list" href="#">Amanda Amorim</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">João Vitor</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Priscila Davanse</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Victor Carreras</a>
                        </li>
                    </ul>
                </div>

                <div id="footerRedes">
                    <ul class="text-light f-list m-4">
                        <li class="font-weight-bolder">Redes</li>
                        <li>
                            <a class="f-list" href="#">Facebook</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Instagram</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">GitHub</a>
                        </li>
                    </ul>
                </div>

                <div id="footerRedes">
                    <ul class="text-light f-list m-4">
                        <li class="font-weight-bolder">Navegação</li>
                        <li>
                            <a class="f-list" href="#">Inicio</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Sobre Nós</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyriright bg-orange text-center">
        <span class="text-light font-weight-bolder fs-10"> Copyright © 2021 Sinergia </span>
    </div>
</footer>
