<footer class="page-footer font-small bg-black pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center my-2">
                <div id="footerEquipe">
                    <ul class="text-light f-list p-0">
                        <li class="font-weight-bolder">Equipe</li>
                        <li>
                            <a class="f-list" href="#">Amanda Amorim</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">João Vitor</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Leonardo Carvalho</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Priscila Davanse</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Victor Carreras</a>
                        </li>
                    </ul>
                </div>

                <div id="footerRedes">
                    <ul class="text-light f-list">
                        <li class="font-weight-bolder">Redes</li>
                        <li>
                            <a class="f-list" href="#">Facebook</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Instagram</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">Linkedin</a>
                        </li>
                        <li>
                            <a class="f-list" href="#">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyriright bg-orange text-center py-2">
        <span class="text-light font-weight-bolder"> Copyright © 2021 Sinergia </span>
    </div>
</footer>
