.bg-orange{
    background-color: #FF9900;
}

.bg-black{
    background-color: black;
}

.f-list{
    font-size: 8pt;
    color: #ffffff;
    list-style: none;
}

/* mb 'equipe' */
ul li:first-child{
    margin-bottom: 4px;
}