.bg-orange{
    background-color: #FF9900;
}

.bg-black{
    background-color: black;
}

hr {
    border: 0;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(40, 40, 40), #6c757d, rgba(40, 40, 40));
}

ul{
    list-style: none;
}

.titulo{
    font-weight: 600;
}

a{  
    font-size: 10pt;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

.text-equipe:hover{
    color: #FF9900;
}

.fs-12{
    font-size: 12pt;
    font-weight: 500;
}

