<footer class="page-footer font-small bg-black">

    <hr class="mb-5">

    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="mr-5">
                <ul class="mr-3 mb-5">
                    <li class="mb-1">
                        <a class="text-white titulo">Equipe</a>                       
                    </li>
                    <li>
                        <a class="text-equipe" href="https://beacons.ai/amandaamorim" target="_blank">Amanda Amorim</a>                       
                    </li>

                    <li>
                        <a class="text-equipe" href="https://beacons.ai/joaovitorsilva" target="_blank">João Vitor Silva</a>                       
                    </li>

                    <li>
                        <a class="text-equipe" href="https://beacons.ai/prisciladavanse" target="_blank">Priscila Davanse</a>                
                    </li>

                    <li>
                        <a class="text-equipe" href="https://beacons.ai/victorcarreras" target="_blank">Victor Carreras</a>                       
                    </li>
                </ul>
            </div>

            <div class="mr-5">
                <ul class="mr-3 mb-5">
                    <li class="mb-1">
                        <a class="text-white titulo">Redes</a>                       
                    </li>
                    <li>
                        <a class="text-equipe" href="https://github.com/davansep/Projeto_Sinergia" target="_blank">Github • back-end</a>                       
                    </li>

                    <li>
                        <a class="text-equipe" href="https://github.com/amandioca/ProjetoSinergia-front" target="_blank">Github • front-end</a>                       
                    </li>
                </ul>
            </div>

            <div class="">
                <ul class="mb-5">
                    <li class="mb-1">
                        <a class="text-white titulo">Navegação</a>                       
                    </li>
                    <li>
                        <a class="text-equipe" routerLink="/inicio-landing">Início</a>                       
                    </li>

                    <li>
                        <a class="text-equipe" routerLink="/sobre">Sobre nós</a>                       
                    </li>

                    <li>
                        <a class="text-equipe" routerLink="/projeto-landing">Projeto</a>                
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-orange text-center py-1">
        <span class="text-white fs-12">Copyright © 2021 Sinergia</span>
    </div>
</footer>