
/* >>>>>>>>>> margin-padding <<<<<<<<<< */
.px-10{
    padding-left: 5vw;
    padding-right: 5vw;
}

/* >>>>>>>>>> fonts size <<<<<<<<<< */
.fs-16{
    font-size: 16pt;
}

.fs-32{
    font-size: 32pt;
    margin: -5px;
    padding: 0px;
}

/* >>>>>>>>>> bottons <<<<<<<<<< */
.button {
    font-size: 12pt;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.btn-outline-orange{
    border: 1px solid #FF9900;
    color: #FF9900;

}

.btn-outline-orange:hover{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.btn-orange{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.btn-orange:hover{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

/* >>>>>>>>>> links <<<<<<<<<< */
.item-nav{
    margin-right: 1vw;
    font-size: 14pt;
    color: #ffffff90;
    text-decoration: none;
}

.item-nav-active{
    margin-right: 1vw;
    font-size: 16pt;
    color: #ffffff;
    text-decoration: none;
}

/* >>>>>>>>>> colors <<<<<<<<<< */
.color-black{
    color: black;
}

.color-orange{
    color: #FF9900;
    
}

/* >>>>>>>>>> background <<<<<<<<<< */
.bg-black{
    background-color: black;
}

/* >>>>>>>>>> effects <<<<<<<<<< */
.b-bottom{
    border-bottom: 2px ;
    color: #FF9900;
}

a{
    cursor: pointer;
}