.px-10{
    padding-left: 5vw;
    padding-right: 5vw;
}

.bg-blur{
    background: #27272746;
    backdrop-filter: blur(56px);
}

.fs-16{
    font-size: 16pt;
}

.fs-28{
    font-size: 28pt;
    margin: -5px;
    padding: 0px;
}

.btn-outline-orange{
    border: 1px solid #FF9900;
    color: #FF9900;

}

.btn-outline-orange:hover{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.btn-orange{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.btn-orange:hover{
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: black;
}

.item-nav-active{
    margin-right: 1vw;
    font-size: 16pt;
    color: #ffffff;
    text-decoration: none;
}

.color-black{
    color: black;
}

.color-orange{
    color: #FF9900;
    
}

.nav-item.active{
    color: transparent !important;
}

.bg-black{
    background-color: black;
}

a{
    cursor: pointer;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}