<div class="bg-black">
    <div class=" ml-5">
        <div class="voltar">
            <a class="text-white  mt-5" href='/inicio-landing'>
                <i class="fa fa-chevron-left mr-1"></i> Voltar
            </a>
        </div>
    </div>
    <div class="  row justify-content-center ml-5">
        <div>
            <img class="mb-3 " src="../../assets/img/logo_colorido.png" alt="logotipo de sinergia" width="100px"
                height="auto">

        </div>
        <div class=" font-weight-bold fs-32 mr-5 ml-2 mt-5 text-white-50 mb-5">

            <h1 class="mb-5">TEAM SINERGIA</h1>
        </div>
    </div>

    <div class="container bg-black mt-5 ">
        <div class="row">
            <div class="col-md-4">
                <div class="our-team borda">
                    <div class="picture">
                        <img class="img-fluid" src="../../assets/img/fotoamanda.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Amanda Amorim</h3>
                        <h4 class="title">Team Sinergia</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/amandioca" target="_blank" class="fa fa-github"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/amandioca/" target="_blank" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 mt-5 text-white-50 texto">
                <h4 class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ratione nesciunt non
                    reprehenderit assumenda sed labore consequatur. Dolores porro blanditiis excepturi suscipit.
                    Quam,
                    sed recusandae rerum enim nostrum saepe!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mt-3 text-white-50 texto">
                <h4 class="mt-4">Sou novo no mundo dos desenvolvedores, dei inicio a faculdade no inicio de 2021 e me inscrevi no
                    Bootcamp da Generation Brasil, estou aprendendo varias coisas que me faram ser um otimo
                    profissional
                    com soft skills, estou aprendendo tambem java, Scrum, Spring boot, MySQL, Bootstrap e angular, e
                    cada vez mais estarei me profissionalizando para ser um otimo profissional.
                </h4>
            </div>
            <div class="col-md-4">
                <div class="our-team borda">
                    <div class="picture">
                        <img class="img-fluid" src="../../assets/img/fotojoao.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Jõao Vitor</h3>
                        <h4 class="title">Team Sinergia</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/joaovitordiasdasilva" target="_blank" class="fa fa-github"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-66a97a210/" target="_blank"
                                class="fa fa-linkedin" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="our-team borda">
                    <div class="picture">
                        <img class="img-fluid" src="../../assets/img/fotopriscila.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Piscila Davanse</h3>
                        <h4 class="title">Team Sinergia</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/davansep" class="fa fa-github" target="_blank"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.linkedin.com/in/prisciladavanse/" target="_blank"
                                class="fa fa-linkedin" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 mt-5 text-white-50 texto">
                <h4 class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quis ratione nesciunt non
                    reprehenderit assumenda sed labore consequatur. Dolores porro blanditiis excepturi suscipit.
                    Quam,
                    sed recusandae rerum enim nostrum saepe!</h4>
            </div>
        </div>
        <div class="row">


            <div class="col-md-7 mt-5 text-white-50 texto">
                <h4 class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti vel quidem aliquid beatae incidunt, consectetur minima, dolore commodi et voluptatem aut excepturi. Minus ea odio suscipit expedita nemo maiores blanditiis?</h4>
            </div>
            <div class="col-md-4 ">
                <div class="our-team borda">
                    <div class="picture">
                        <img class="img-fluid" src="../../assets/img/fotovictor.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Victor Carreras</h3>
                        <h4 class="title">Team Sinergia</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/carrerasvictor" target="_blank" class="fa fa-github"
                                aria-hidden="true"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/vctorcarreras/" target="_blank" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>