<div class="container-fluid bg-black pt">
            
    <div class="footer-copyright bg-orange text-white py-4 mb-10 alinhamento">
        <div>
            <img
            class="pb-1"
            width="120px"
            src="../../assets/img/logo_branco.png" 
            alt="logotipo Sinergia">
        </div>

        <div class="pl-5 bl-white">
            <div class="">
                <h4 class="fs-46">TEAM</h4>
                <h4 class="fs-46">SINERGIA</h4>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-white">
                
<!------------ AMANDA ------------>                
                <div class="mb-7 d-flex align-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="our-team borda">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/img/fotoamanda.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Amanda Amorim</h3>
                                <h4 class="title">Desenvolvedora full stack jr.</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://github.com/amandioca" target="_blank" class="fa fa-github"
                                        aria-hidden="true"></a></li>
                                <li><a href="https://www.linkedin.com/in/amandioca/" target="_blank" class="fa fa-linkedin"
                                        aria-hidden="true"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-8 pl-5 bl">
                        <p class="text-left fs-14">Migrando do design gráfico para o desenvolvimento de software.
                            Meu primeiro contato com a programação foi no bootcamp da Generation Brasil. Através da prática, com as atividades e o projeto integrador, descobri minha paixão pela área.
                            Com o curso concluído, agora o meu foco é encontrar uma oportunidade no mercado de trabalho e me desenvolver cada vez mais como profissional e pessoa.
                        </p>
                    </div>                
            
                </div>

<!------------ JOÃO ------------>
                <div class="mb-7 d-flex align-content-center align-items-center">
                    
                    <div class="col-md-8 pr-5 br">
                        <p class="text-right fs-14">Sou novo no mundo dos desenvolvedores, dei início a faculdade de análise e desenvolvimento de sistemas
                            no início de 2021 em julho me inscrevi no Bootcamp da Generation Brasil, aprendi várias linguagens e metodologias,
                            como soft skills, java, Scrum, Spring boot, MySQL, Bootstrap e angular, estou em busca de uma oportunidade para
                            poder aprender mais e realizar meu sonho de trabalhar na área.
                        </p>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="our-team borda">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/img/fotojoao.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Jõao Vitor</h3>
                                <h4 class="title">Desenvolvedor full stack jr.</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://github.com/joaovitordiasdasilva" target="_blank" class="fa fa-github"
                                        aria-hidden="true"></a></li>
                                <li><a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-66a97a210/" target="_blank"
                                        class="fa fa-linkedin" aria-hidden="true"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

<!------------ PRISCILA ------------>
                <div class="mb-7 d-flex align-content-center align-items-center">
            
                    <div class="col-md-4">
                        <div class="our-team borda">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/img/fotopriscila.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Piscila Davanse</h3>
                                <h4 class="title">Desenvolvedora full stack jr.</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://github.com/davansep" class="fa fa-github" target="_blank"
                                        aria-hidden="true"></a></li>
                                <li><a href="https://www.linkedin.com/in/prisciladavanse/" target="_blank"
                                        class="fa fa-linkedin" aria-hidden="true"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8 pl-5 bl">
                        <p class="text-left fs-14">Migrando do Design de interiores para desenvolvimento de software. 
                            Recentemente concluí o bootcamp de Desenvolvimento Java full stack Jr. na Generation Brasil.
                            Com essa experiência tive mais certeza ainda de que estou no caminho certo e quero me aperfeiçoar para me tornar especialista na área. Esto
                            empolgada, curiosa e bem otimista.
                        </p>
                    </div>
            
                </div>


<!------------ VICTOR ------------>
                <div class="mb-7 d-flex align-content-center align-items-center">
                    
                    <div class="col-md-8 pr-5 br">
                        <p class="text-right fs-14">Adoro tecnologia, sou novo na área da programação, e estou ansioso para mostrar minha capacidade como desenvolvedor. Gosto muito de jogos e estou sempre tentando aprender coisas novas. Meu objetivo é ajudar as pessoas a descobrirem as coisas incríveis que a tecnologia pode fazer por elas.
                        </p>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="our-team borda">
                            <div class="picture">
                                <img class="img-fluid" src="../../assets/img/fotovictor.jpg">
                            </div>
                            <div class="team-content">
                                <h3 class="name">Victor Carreras</h3>
                                <h4 class="title">Desenvolvedor full stack jr.</h4>
                            </div>
                            <ul class="social">
                                <li><a href="https://github.com/carrerasvictor" target="_blank" class="fa fa-github"
                                        aria-hidden="true"></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/vctorcarreras/" target="_blank" class="fa fa-linkedin"
                                        aria-hidden="true"></a></li>
                            </ul>
                        </div>
                        
                    </div>
            
                </div>


            </div>
        </div>        
    </div>
</div>