<div class="fundo-back">
    <div class="container row ">
        <div class="col-md-2"></div>
        <div class="col-md-6 formulario centro">
            <h1 class="text-white font-weight-bolder">Nossa rede...</h1>
            <p class="text-white fs-26">não é apenas uma rede social, nós somos uma comunidade que abraça as pessoas.</p>
            <p class="text-white fonte">Compartilhe as noticias e postagens sobre energias limpas e renováveis, assim dando oportunidade para <br> os que nunca tiveram acesso.</p>
            <!-- <p class="text-white">Também teremos um espaço para ideias de projetos que possam receber investimento, assim trazendo não só ideias, mas sim investidores para esses inventores.</p>  -->
            <div class="d-flex align-items-center">
                <button class="btn button btn-orange my-2 my-sm-0 " type="submit" routerLink='/projeto-landing'>
                    conheça mais</button>
            </div>
        </div>

        <div class="col-md-4 justify-content-right mt-5">
            <img class="imagem" src="../../assets/img/creative-team_gif.gif" alt="gif">
        </div>
    </div>
</div>
