.bg-black {
    background-color: black;
}

.btn-orange {
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: white;
}

.btn-orange:hover {
    border: 1px solid #FF9900;
    background-color: transparent;
    color: #FF9900;
}

.fs-30 {
    font-size: 30pt;
    font-weight: 700 ;
}

.fs-16 {
    font-size: 16pt;
    font-weight: 400 ;
}

.fs-12 {
    font-size: 12pt;
    font-weight: 100 ;
}

p{
    margin: 0rem;
}