<div class="bg-black">
    <div class="container-fluid bg-black">
        <div class="row d-flex justify-content-center align-items-center">
    
            <div class="col-md-5">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-8">
                        <div class="ml-5">

                            <p class="text-white fs-30">Nossa rede...</p>
                            <p class="text-white fs-16">não é apenas uma rede social, nós somos uma comunidade que abraça as pessoas.</p>
                            <p class="text-white fs-12 mt-2">Compartilhe as noticias e postagens sobre energias limpas e renováveis, assim dando oportunidade para <br>que nunca tiveram acesso.</p>
                            <!-- <p class="text-white">Também teremos um espaço para ideias de projetos que possam receber investimento, assim trazendo não só ideias, mas sim investidores para esses inventores.</p>  -->
                            <div class="d-flex align-items-center">
                                <button 
                                class="btn button btn-orange mt-4" 
                                type="submit" 
                                routerLink='/projeto-landing'>
                                conheça mais</button>                   
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-7">
                <div class="row justify-content-xl-start">
                    <div class="col-md-4">
                        <img 
                        width="800px" 
                        src="../../assets/img/creative-team_gif.gif" alt="gif">
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>