.bg-black{
    background-color: #000000;
}

.bg-blur{
    background: #27272746;
    backdrop-filter: blur(56px);
}

.fs-16{
    font-size: 16pt;
}

.mx-15{
    margin-left: 10vw;
    margin-right: 10vw;
}

a, ul{
    cursor: pointer;
}

.right-0{
    left: auto;
    right: 0;
}

