<nav class="navbar navbar-expand-lg navbar-dark bg-black px-10">
    <a class="navbar-brand font-weight-bold fs-32 mr-5" href="#"> SNRG</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto color d-flex align-items-baseline">
            <li class="nav-item active d-flex align-items-center b-bottom">
                <a class="link-white-active" href="#"> início <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="link-orange" href="#"> sobre nós</a>
            </li>

            <li class="nav-item">
                <a class="link-orange" href="#"> projeto</a>
            </li>
        </ul>
    </div>

    <div>
        <button class="btn btn-outline-orange my-2 my-sm-0 mr-3 font-weight-bolder" type="submit"> entrar</button>
        <button class="btn btn-orange my-2 my-sm-0 font-weight-bolder" type="submit"> cadastre-se</button>
    </div>
</nav>