<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">

    <div class="collapse navbar-collapse mx-15 mt-2" id="menu-logado">
        <ul class="navbar-nav mr-auto d-flex align-items-center" [routerLink]="['/usuario-edit', idUsuario]">
            <li class="nav-item active">
                <img 
                src="{{foto}}" 
                width="50px" 
                height="50px" 
                class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bolder text-white fs-16"> {{nome}}</p>
            </li>
        </ul>

        <div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle d-flex align-items-center" 
                        id="navbarDropdown" 
                        role="button" 
                        data-toggle="dropdown"
                        aria-expanded="false">

                        <p class="text-white fs-16 m-0"><i class="fa fa-cog" aria-hidden="true"></i></p>
                    </a>
    
                    <div class="dropdown-menu right-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/usuario-edit', idUsuario]"> editar perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)='sair()' > sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    