.bg-black{
    background-color: #24242446;
}

.fs-16{
    font-size: 16pt;
}

.mx-15{
    margin-left: 10vw;
    margin-right: 10vw;
}

a{
    cursor: pointer;
}

.right-0{
    left: auto;
    right: 0;
}

