<div class="container-fluid bg-black pt-5 pb-5">
  <div class="container bg-blur">
    <div class="col-md-12 text-white">
      <h1 class="text-center text-white pt-4 mt-5">Cadastrar Tema</h1>
      <h5 class="text-center subtitulo pb-2 pt-2">
        Veja aqui todos os temas cadastrados <br />ou cadastre um novo:
      </h5>

      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="form-group">
            <form>
              <div class="form-group text-white">
                <label for="tema"> tema</label>
                <input
                  [(ngModel)]="tema.tema"
                  class="form-control"
                  type="text"
                  name="tema"
                  placeholder="Tema"
                />
              </div>

              <div class="form-group text-white">
                <label for="subTema"> subTema</label>
                <input
                  [(ngModel)]="tema.subTema"
                  class="form-control"
                  type="text"
                  name="subTema"
                  placeholder="Subtema"
                />
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <button class="btn btn-azul" (click)="cadastrar()">
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-top voltar mt-3 ml-3">
    <a class="text-white text-left deco-none" routerLink="/inicio">
      <i class="fa fa-chevron-left mr-1 text-left"></i> Voltar
    </a>
  </div>

  <hr class="mt-5">

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="text-center text-white">Todos os temas</h2>
      </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center">
      <div class="col-md-6">
        <table class="table bg-blur text-white ml-3">
          <thead class="text-orange bg-gray">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tema</th>
              <th scope="col">Subtema</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of listaTemas">
              <th>{{ item.idTema }}</th>
              <td>{{ item.tema }}</td>
              <td>{{ item.subTema }}</td>
              <td class="d-flex justify-content-end bg-gray">
                <button
                  class="btn btn-azul mr-3"
                  [routerLink]="['/tema-edit', item.idTema]"
                >
                  editar
                </button>

                <button
                  class="btn btn-orange text-white"
                  [routerLink]="['/tema-delete', item.idTema]"
                >
                  deletar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
