<div class="container-fluid bg-black pt-5">
    <div class="row pt-5">
        <div class="col-md-3 pt-5 align-content-between">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <div class="nav flex-column nav-pills mb-3 size-pills" 
                    id="v-pills-tab" 
                    role="tablist" 
                    aria-orientation="vertical">
                        
                        <a class="nav-link bg-blur text-white text-left active" 
                        id="v-pills-todas-tab" 
                        data-toggle="pill" 
                        href="#v-pills-todas" 
                        role="tab" 
                        aria-controls="v-pills-todas" 
                        aria-selected="true">Todas</a>

                        <a (click)='findByIdUser()'
                        class="nav-link bg-blur text-white text-left" 
                        id="v-pills-minhas-tab" 
                        data-toggle="pill" 
                        href="#v-pills-minhas" 
                        role="tab" 
                        aria-controls="v-pills-minhas" 
                        aria-selected="false">Minhas</a>
                    </div>
                    
                    <!--<div class="btn-group-vertical mb-3" 
                    role="group" 
                    aria-label="Button group with nested dropdown">

                        <div class="btn-group" role="group">
                            <a 
                            class="btn bg-blur text-white text-left active"
                            id="nav-todas-tab"
                            href="#todas"
                            data-toggle="tab"
                            role="tab"
                            aria-controls="nav-todas"
                            aria-selected="true">
                            Todas</a>
                        </div>
                        
                        <div class="btn-group" role="group">
                            <a 
                            class="btn bg-blur text-white text-left"
                            id="nav-minhas-tab"
                            href="#minhas"
                            data-toggle="tab"
                            role="tab"
                            aria-controls="nav-minhas"
                            aria-selected="false">
                            Minhas</a>
                        </div>
                        
                    </div>-->
                </div>
            </div>
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">        
                    
                    <div class="btn-group-vertical mb-3" 
                    role="group" 
                    aria-label="Button group with nested dropdown">

                        <div class="btn-group" role="group">
                            <button 
                            id="btnGroup2" 
                            type="button" 
                            class="btn bg-blur text-white dropdown-toggle" 
                            data-toggle="dropdown"
                            aria-expanded="false">
                            Atômica</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroup2">
                                <a class="dropdown-item" href="#">subtema</a>
                                <a class="dropdown-item" href="#">subtema</a>
                            </div>
                        </div>
        
                        <div class="btn-group" role="group">
                            <button 
                            id="btnGroup2" 
                            type="button" 
                            class="btn bg-blur text-white dropdown-toggle" 
                            data-toggle="dropdown"
                            aria-expanded="false">
                            Elétrica</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroup2">
                                <a class="dropdown-item" href="#">subtema</a>
                                <a class="dropdown-item" href="#">subtema</a>
                            </div>
                        </div>
        
                        <div class="btn-group" role="group">
                            <button 
                            id="btnGroup2" 
                            type="button" 
                            class="btn bg-blur text-white dropdown-toggle" 
                            data-toggle="dropdown"
                            aria-expanded="false">
                            Mecânica</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroup2">
                                <a class="dropdown-item" href="#">subtema</a>
                                <a class="dropdown-item" href="#">subtema</a>
                            </div>
                        </div>
        
                        <div class="btn-group" role="group">
                            <button 
                            id="btnGroup2" 
                            type="button" 
                            class="btn bg-blur text-white dropdown-toggle" 
                            data-toggle="dropdown"
                            aria-expanded="false">
                            Química</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroup2">
                                <a class="dropdown-item" href="#">subtema</a>
                                <a class="dropdown-item" href="#">subtema</a>
                            </div>
                        </div>
        
                        <div class="btn-group" role="group">
                            <button 
                            id="btnGroup2" 
                            type="button" 
                            class="btn bg-blur text-white dropdown-toggle" 
                            data-toggle="dropdown"
                            aria-expanded="false">
                            Térmica</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroup2">
                                <a class="dropdown-item" href="#">subtema</a>
                                <a class="dropdown-item" href="#">subtema</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-6 pt-5">

            <div class="box mb-3" 
            data-toggle="modal"
            data-target="#novaPostagem">
                <a 
                class="text-lgray"
                id="criarPost">
                <i class="fa fa-pencil mr-2 mb-2" aria-hidden="true"></i>
                No que você está ligado?</a>
            </div>
    
            <div class="tab-content mt-3" id="v-pills-tabContent">
                <div 
                class="tab-pane fade show active" 
                id="v-pills-todas" 
                role="tabpanel" 
                aria-labelledby="v-pills-todas-tab">
                
                    <div class="card mt-3 bg-gray text-white border-10" 
                    *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                        
                        <div class="card-header d-flex align-items-center border-0 bg-transparent">
                            <img 
                                class="img-fluid rounded-circle"
                                width="40px"
                                height="40px"
                                src="{{item.usuarioRelacionado.foto}}" alt="foto de perfil de {{item.usuarioRelacionado.nomeCompleto}}">
                            
                            <div class="ml-3">
                                <p class="fs-11 peso-400 m-neg1">{{item.usuarioRelacionado.nomeCompleto}}</p>
                                <small class="text-muted m-0 text-white">
                                    {{item.date | date : 'MMMM d, y' : '' : 'pt-BR'}}
                                    às {{item.date | date: 'shortTime'}}
                                </small>
                            </div>
                        </div>
        
                        <div class="card-body">
                            <p class="peso-100 fs-11">{{item.conteudo}}</p>
                            <p class="peso-100 fs-11">#{{item.temaRelacionado.tema}}</p>

                            <div class="d-flex justify-content-center">
                                <img
                                *ngIf="!(item.linkMidia == null || item.linkMidia =='')"
                                class="text-muted"
                                src="{{item.linkMidia}}" 
                                width="90%"
                                alt="postagem de {{item.usuarioRelacionado.nomeCompleto}}">
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <div 
                class="tab-pane fade" 
                id="v-pills-minhas" 
                role="tabpanel" 
                aria-labelledby="v-pills-minhas-tab">
                
                    <div class="card mt-3 bg-gray text-white border-10" 
                    *ngFor='let item of usuario.postagens | orderBy : key : reverse'>
                        
                        <div class="card-header d-flex align-items-center justify-content-between border-0 bg-transparent">
                            <div class="d-flex align-content-center">
                                <img 
                                    class="img-fluid rounded-circle"
                                    width="40px"
                                    height="40px"
                                    src="{{usuario.foto}}" alt="foto de perfil de {{usuario.nomeCompleto}}">
                                    
                                <div class="ml-3">
                                    <p class="fs-11 peso-400 m-neg1">{{usuario.nomeCompleto}}</p>
                                    <small class="text-muted m-0 text-white">
                                        {{item.date | date : 'MMMM d, y' : '' : 'pt-BR'}}
                                        às {{item.date | date: 'shortTime'}}
                                    </small>
                                </div>
                            </div>

                            <div>
                                <a class="bg-transparent border-0 ml-0-imp text-white d-flex justify-content-end"
                                data-toggle="dropdown">
                                <i class="fs-16 peso-100 fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>

                                <div class="dropdown-menu right-0 bg-gray text-white" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-config" [routerLink]="['/postagem-edit', item.idPostagem]"> editar</a>
                                    <a class="dropdown-item text-config" [routerLink]="['/postagem-delete', item.idPostagem]"> excluir</a>
                                </div>
                            </div>
                        </div>
            
                        <div class="card-body">
                            <p class="peso-100 fs-11">{{item.conteudo}}</p>
                            <p class="peso-100 fs-11">#{{item.temaRelacionado.tema}}</p>
            
                            <div class="d-flex justify-content-center">
                                <img
                                *ngIf="!(item.linkMidia == null || item.linkMidia =='')"
                                class="text-muted"
                                src="{{item.linkMidia}}" 
                                width="90%"
                                alt="postagem de {{usuario.nomeCompleto}}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
        </div>
    </div>
</div>


<div class="modal fade"
id="novaPostagem"
tabindex="-1"
aria-labelledby="modalCreatePost"
aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered text-white">
        <div class="modal-content bg-blur">

            <div class="modal-header d-flex justify-content-between">
                <p></p>
                <h5 class="pl-4" id="modalCreatePost">
                criar postagem</h5>

                <button type="button"
                class="close ml-0-imp text-white"
                data-dismiss="modal"
                aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <textarea [(ngModel)]='postagem.conteudo'
                    class="form-control"
                    id="text"
                    name="text"
                    rows="5"
                    placeholder="no que você está ligado?"></textarea>
                </div>

                <div class="form-group justify-content-center">                    
                    <input [(ngModel)]='postagem.linkMidia'
                    class="form-control"
                    id="midia"
                    name="midia"
                    placeholder="insira aqui o link da mídia"> 
                </div>

                <div class="form-group">
                    <select 
                    [(ngModel)]='idTema'
                    class="form-control"
                    id="tema" (change)='findByIdTema'
                    name="tema">
                        <option value="">selecione um tema</option>
                        <option *ngFor='let item of listaTemas'
                        value="{{item.idTema}}">
                        {{item.tema}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <!--<button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
                close</button>-->

                <button
                type="submit"
                class="btn btn-blue btn-lg btn-block" (click)='publicar()'>
                postar</button>
            </div>
        </div>
    </div>
</div>