.bg-black{
    background-color: #000000 !important;
}

.bg-blur{
    background: #27272746 !important;
    backdrop-filter: blur(56px);
}

.color-white{
    color: #ffffff !important;
}

.border-10{
    border-radius: 10px;
}

.color-blue{
    color: #0094FF;
}

textarea, input, select{
    background-color: #ffffff20;
    color: rgb(255, 255, 255);
    font-weight: 100;
    border: none;
    border-radius: 5px;
}

textarea:focus{
    background-color: #ffffff20;
    color: rgb(128, 128, 128);
    font-weight: 100 ;
    border: none;
    border-radius: 5px;
}

input:focus{
    background-color: #ffffff20;
    color: rgb(128, 128, 128);
    font-weight: 100 ;
    border: none;
    border-radius: 5px;
}

select:focus{
    background-color: #ffffff20;
    color: rgb(128, 128, 128);
    font-weight: 100 ;
    border: none;
    border-radius: 5px;
}

.opacity{
    background-color: none;
}

.btn-blue{
    background-color: #0094FF;
    color: #fff;
}

.btn-group, .size-pills{
    min-width: 8vw;
    max-width: 8vw;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-left: solid 5px #FF9900;
}

#btnGroup2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-lgray{
    text-decoration: none;
    color: #FFFFFF80;
}

.bg-gray{
    background: #272727;
}

.box{
    background: #272727;
    padding: 1rem;
    padding-left: 2rem !important;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: start;
}

.mt-n{
    margin-top: 8vh;
}

.fs-54{
    font-size: 54pt;
}

.fs-24{
    font-size: 24pt;
}

.fs-18{
    font-size: 18pt;
}

.fs-12{
    font-size: 12pt;
}

.fs-11{
    font-size: 11pt;
}

.text-muted{
    color: #b2b4b5 !important;
}

.small, small {
    font-size: 80%;
    font-weight: 200;
}

.peso-400{
    font-weight: 400;
}

.peso-100{
    font-weight: 100;
}

.ml-0-imp{
    margin-left: 0 !important;
}

.m-neg1{
    margin-bottom: -0.4rem;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}